In [440]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob
import os

In [441]:
os.listdir()

['.ipynb_checkpoints',
 'new.csv',
 'sample_submission_2zvVjBu.csv',
 'test_Wf7sxXF.csv',
 'train_wn75k28.csv',
 'Untitled.ipynb']

In [442]:
train = pd.read_csv(glob('train*')[0])
test = pd.read_csv(glob('test*')[0])
submit = pd.read_csv(glob('sam*')[0])

In [443]:
train.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [444]:
train.dtypes

id                        int64
created_at               object
campaign_var_1            int64
campaign_var_2            int64
products_purchased      float64
signup_date              object
user_activity_var_1       int64
user_activity_var_2       int64
user_activity_var_3       int64
user_activity_var_4       int64
user_activity_var_5       int64
user_activity_var_6       int64
user_activity_var_7       int64
user_activity_var_8       int64
user_activity_var_9       int64
user_activity_var_10      int64
user_activity_var_11      int64
user_activity_var_12      int64
buy                       int64
dtype: object

In [445]:
train['created_at'] = pd.to_datetime(train['created_at'])
train.signup_date = pd.to_datetime(train.signup_date)
test['created_at'] = pd.to_datetime(test['created_at'])
test.signup_date = pd.to_datetime(test.signup_date)

In [446]:
train = train.iloc[:, 1:]
test = test.iloc[:, 1:]

In [447]:
train.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [448]:
test.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,2022-01-01,8,7,NaN,NaT,0,0,0,0,1,1,0,0,0,0,0,0
3,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0

In [449]:
train.isna().sum()

created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64

In [450]:
train['created_day'] = train.created_at.apply(lambda x: x.day)
train['created_month'] = train.created_at.apply(lambda x: x.month)
train['created_year']= train.created_at.apply(lambda x: x.year)
"""train['signup_day']= train.signup_date.apply(lambda x: x.day)
train['signup_month'] = train.signup_date.apply(lambda x: x.month)
train['signup_year'] = train.signup_date.apply(lambda x: x.year)"""
train['cday_of_week'] = train.created_at.apply(lambda x: x.dayofweek)
train['cis_quarter'] = train.created_at.apply(lambda x: x.quarter)
train['cis_weekend'] = train.cday_of_week.apply(lambda x: 1 if x>4 else 0)
train.drop(['created_at', 'signup_date'], axis=1, inplace=True)
train.head()

,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,...,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy,created_day,created_month,created_year,cday_of_week,cis_quarter,cis_weekend
0,1,2,2.0,0,0,0,0,0,0,1,...,0,0,0,0,1,1,2021,4,1,0
1,2,1,2.0,1,0,1,0,0,0,1,...,0,0,0,0,1,1,2021,4,1,0
2,9,3,3.0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,2021,4,1,0
3,6,7,2.0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,2021,4,1,0
4,4,6,NaN,0,0,0,0,0,0,1,...,0,1,0,0,1,1,2021,4,1,0

In [451]:
test['created_day'] = test.created_at.apply(lambda x: x.day)
test['created_month'] = test.created_at.apply(lambda x: x.month)
test['created_year']= test.created_at.apply(lambda x: x.year)
"""test['signup_day']= test.signup_date.apply(lambda x: x.day)
test['signup_month'] = test.signup_date.apply(lambda x: x.month)
test['signup_year'] = test.signup_date.apply(lambda x: x.year)"""
test['cday_of_week'] = test.created_at.apply(lambda x: x.dayofweek)
test['cis_quarter'] = test.created_at.apply(lambda x: x.quarter)
test['cis_weekend'] = test.cday_of_week.apply(lambda x: 1 if x>4 else 0)
test.drop(['created_at', 'signup_date'], axis=1, inplace=True)
test.head()

,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,...,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,created_day,created_month,created_year,cday_of_week,cis_quarter,cis_weekend
0,2,2,NaN,1,1,0,0,0,1,0,...,0,0,1,0,1,1,2022,5,1,1
1,4,7,3.0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,2022,5,1,1
2,8,7,NaN,0,0,0,0,1,1,0,...,0,0,0,0,1,1,2022,5,1,1
3,9,8,2.0,0,0,0,0,1,1,1,...,0,0,2,0,1,1,2022,5,1,1
4,4,5,2.0,1,0,0,0,0,0,0,...,0,0,0,0,1,1,2022,5,1,1

In [452]:
test.isna().sum()

campaign_var_1             0
campaign_var_2             0
products_purchased      8136
user_activity_var_1        0
user_activity_var_2        0
user_activity_var_3        0
user_activity_var_4        0
user_activity_var_5        0
user_activity_var_6        0
user_activity_var_7        0
user_activity_var_8        0
user_activity_var_9        0
user_activity_var_10       0
user_activity_var_11       0
user_activity_var_12       0
created_day                0
created_month              0
created_year               0
cday_of_week               0
cis_quarter                0
cis_weekend                0
dtype: int64

In [453]:
train = train.fillna(0)
test = test.fillna(0)

In [454]:
train['activity'] = train.iloc[:,3:15].sum(axis = 1)
train['active_user'] = train.activity.apply(lambda x: 1 if x>=1 else 0 )

In [455]:
train.head()

,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,...,user_activity_var_12,buy,created_day,created_month,created_year,cday_of_week,cis_quarter,cis_weekend,activity,active_user
0,1,2,2.0,0,0,0,0,0,0,1,...,0,0,1,1,2021,4,1,0,2,1
1,2,1,2.0,1,0,1,0,0,0,1,...,0,0,1,1,2021,4,1,0,3,1
2,9,3,3.0,1,0,0,0,0,0,0,...,0,0,1,1,2021,4,1,0,1,1
3,6,7,2.0,0,0,0,0,0,0,0,...,0,0,1,1,2021,4,1,0,0,0
4,4,6,0.0,0,0,0,0,0,0,1,...,0,0,1,1,2021,4,1,0,2,1

In [456]:
test['activity'] = test.iloc[:,3:15].sum(axis = 1)
test['active_user'] = test.activity.apply(lambda x: 1 if x>=1 else 0 )

In [457]:
test.head()

,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,...,user_activity_var_11,user_activity_var_12,created_day,created_month,created_year,cday_of_week,cis_quarter,cis_weekend,activity,active_user
0,2,2,0.0,1,1,0,0,0,1,0,...,1,0,1,1,2022,5,1,1,4,1
1,4,7,3.0,1,0,0,0,0,0,0,...,0,0,1,1,2022,5,1,1,2,1
2,8,7,0.0,0,0,0,0,1,1,0,...,0,0,1,1,2022,5,1,1,2,1
3,9,8,2.0,0,0,0,0,1,1,1,...,2,0,1,1,2022,5,1,1,5,1
4,4,5,2.0,1,0,0,0,0,0,0,...,0,0,1,1,2022,5,1,1,1,1

In [458]:
test.dtypes

campaign_var_1            int64
campaign_var_2            int64
products_purchased      float64
user_activity_var_1       int64
user_activity_var_2       int64
user_activity_var_3       int64
user_activity_var_4       int64
user_activity_var_5       int64
user_activity_var_6       int64
user_activity_var_7       int64
user_activity_var_8       int64
user_activity_var_9       int64
user_activity_var_10      int64
user_activity_var_11      int64
user_activity_var_12      int64
created_day               int64
created_month             int64
created_year              int64
cday_of_week              int64
cis_quarter               int64
cis_weekend               int64
activity                  int64
active_user               int64
dtype: object

In [459]:
y = train['buy'].values
x = train.drop('buy', axis = 1).values

In [460]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  mean_squared_error
import lightgbm as lgb

In [461]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.01, random_state=41)

In [462]:
classifier = RandomForestClassifier( random_state=123, max_depth=15, n_estimators=1000,min_samples_leaf=4, min_samples_split=2)

In [463]:
classifier.fit(x_train, y_train)

RandomForestClassifier(max_depth=15, min_samples_leaf=4, n_estimators=1000,
                       random_state=123)

In [464]:
y_pred = classifier.predict(x_test)

In [465]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [466]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
confusion_matrix(y_test, y_pred)

array([[377,   0],
       [  9,   6]], dtype=int64)

In [467]:
f1_score(y_test, y_pred)

0.5714285714285715

In [468]:
gbm = lgb.LGBMClassifier(num_leaves=89,learning_rate=0.1,max_bin=200,min_sum_hessian_in_leaf = 20,
                        max_depth= 18,verbose=-1)

In [469]:
gbm.fit(x_train, y_train,eval_set=[(x_test, y_test)], eval_metric='l2_root', early_stopping_rounds=100)

C:\Users\caaka\anaconda3\lib\site-packages\lightgbm\sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Warning] min_sum_hessian_in_leaf is set=20, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=20
[1]	valid_0's rmse: 0.181828	valid_0's binary_logloss: 0.142759
[2]	valid_0's rmse: 0.175656	valid_0's binary_logloss: 0.131701
[3]	valid_0's rmse: 0.170585	valid_0's binary_logloss: 0.124492
[4]	valid_0's rmse: 0.166176	valid_0's binary_logloss: 0.118721
[5]	valid_0's rmse: 0.162592	valid_0's binary_logloss: 0.11435
[6]	valid_0's rmse: 0.160741	valid_0's binary_logloss: 0.111586
[7]	valid_0's rmse: 0.158469	valid_0's binary_logloss: 0.10887
[8]	valid_0's rmse: 0.156848	valid_0's binary_logloss: 0.106931
[9]	valid_0's rmse: 0.154371	valid_0's binary_logloss: 0.104088
[10]	valid_0's rmse: 0.15236	valid_0's binary_logloss: 0.101871
[11]	valid_0's rmse: 0.150868	valid_0's binary_logloss: 0.100151
[12]	valid_0's rmse: 0.14944	valid_0's binary_logloss: 0.0984928
[13]	valid_0's rmse: 0.148343	valid_0's binary_logloss: 0.097051
[14]	valid_0's rmse: 0.147534	valid_0's binary_logloss: 0.0962069
[15]	valid_0's rmse: 0.14676	valid_0's binary_logloss: 0.0951228
[16]	valid_0's rmse: 0.1462	valid_0's binary_logloss: 0.0945719
[17]	valid_0's rmse: 0.14606	valid_0's binary_logloss: 0.0941916
[18]	valid_0's rmse: 0.145544	valid_0's binary_logloss: 0.0934999
[19]	valid_0's rmse: 0.145167	valid_0's binary_logloss: 0.093013
[20]	valid_0's rmse: 0.144818	valid_0's binary_logloss: 0.0925454
[21]	valid_0's rmse: 0.144556	valid_0's binary_logloss: 0.0922736
[22]	valid_0's rmse: 0.144437	valid_0's binary_logloss: 0.0922125
[23]	valid_0's rmse: 0.144493	valid_0's binary_logloss: 0.0921774
[24]	valid_0's rmse: 0.144312	valid_0's binary_logloss: 0.0918151
[25]	valid_0's rmse: 0.144208	valid_0's binary_logloss: 0.0916158
[26]	valid_0's rmse: 0.1444	valid_0's binary_logloss: 0.0915402
[27]	valid_0's rmse: 0.144662	valid_0's binary_logloss: 0.0916567
[28]	valid_0's rmse: 0.144767	valid_0's binary_logloss: 0.0919147
[29]	valid_0's rmse: 0.144613	valid_0's binary_logloss: 0.0916482
[30]	valid_0's rmse: 0.144329	valid_0's binary_logloss: 0.0910193
[31]	valid_0's rmse: 0.144357	valid_0's binary_logloss: 0.091087
[32]	valid_0's rmse: 0.144547	valid_0's binary_logloss: 0.0912511
[33]	valid_0's rmse: 0.144611	valid_0's binary_logloss: 0.091141
[34]	valid_0's rmse: 0.14479	valid_0's binary_logloss: 0.0912585
[35]	valid_0's rmse: 0.144868	valid_0's binary_logloss: 0.0914683
[36]	valid_0's rmse: 0.144568	valid_0's binary_logloss: 0.0912348
[37]	valid_0's rmse: 0.144547	valid_0's binary_logloss: 0.0910492
[38]	valid_0's rmse: 0.144464	valid_0's binary_logloss: 0.0910263
[39]	valid_0's rmse: 0.14481	valid_0's binary_logloss: 0.0916088
[40]	valid_0's rmse: 0.144966	valid_0's binary_logloss: 0.0917951
[41]	valid_0's rmse: 0.145065	valid_0's binary_logloss: 0.0917324
[42]	valid_0's rmse: 0.14481	valid_0's binary_logloss: 0.0917262
[43]	valid_0's rmse: 0.144697	valid_0's binary_logloss: 0.0916646
[44]	valid_0's rmse: 0.144765	valid_0's binary_logloss: 0.0917883
[45]	valid_0's rmse: 0.144917	valid_0's binary_logloss: 0.0918179
[46]	valid_0's rmse: 0.145106	valid_0's binary_logloss: 0.0922443
[47]	valid_0's rmse: 0.145033	valid_0's binary_logloss: 0.0922281
[48]	valid_0's rmse: 0.14511	valid_0's binary_logloss: 0.0921111
[49]	valid_0's rmse: 0.144883	valid_0's binary_logloss: 0.0920012
[50]	valid_0's rmse: 0.144846	valid_0's binary_logloss: 0.0919738
[51]	valid_0's rmse: 0.144993	valid_0's binary_logloss: 0.0922302
[52]	valid_0's rmse: 0.144978	valid_0's binary_logloss: 0.092385
[53]	valid_0's rmse: 0.14498	valid_0's binary_logloss: 0.0923338
[54]	valid_0's rmse: 0.145039	valid_0's binary_logloss: 0.0924483
[55]	valid_0's rmse: 0.145269	valid_0's binary_logloss: 0.0925167
[56]	valid_0's rmse: 0.145481	valid_0's binary_logloss: 0.0929017
[57]	valid_0's rmse: 0.145469	valid_0's binary_logloss: 0.0929105
[58]	valid_0's rmse: 0.145366	valid_0's binary_logloss: 0.0929977
[59]	valid_0's rmse: 0.145591	valid_0's binary_logloss: 0.0931323
[60]	valid_0's rmse: 0.145705	valid_0's binary_logloss: 0.0931959
[61]	valid_0's rmse: 0.145625	valid_0's binary_logloss: 0.0931082
[62]	valid_0's rmse: 0.14586	valid_0's binary_logloss: 0.0934138
[63]	valid_0's rmse: 0.145707	valid_0's binary_logloss: 0.093418
[64]	valid_0's rmse: 0.145676	valid_0's binary_logloss: 0.0936185
[65]	valid_0's rmse: 0.145835	valid_0's binary_logloss: 0.0936922
[66]	valid_0's rmse: 0.146124	valid_0's binary_logloss: 0.0941398
[67]	valid_0's rmse: 0.146346	valid_0's binary_logloss: 0.0942093
[68]	valid_0's rmse: 0.146256	valid_0's binary_logloss: 0.0938546
[69]	valid_0's rmse: 0.146277	valid_0's binary_logloss: 0.0939163
[70]	valid_0's rmse: 0.146181	valid_0's binary_logloss: 0.0938434
[71]	valid_0's rmse: 0.146069	valid_0's binary_logloss: 0.0935598
[72]	valid_0's rmse: 0.146061	valid_0's binary_logloss: 0.0936858
[73]	valid_0's rmse: 0.146203	valid_0's binary_logloss: 0.0939663
[74]	valid_0's rmse: 0.146244	valid_0's binary_logloss: 0.093989
[75]	valid_0's rmse: 0.146244	valid_0's binary_logloss: 0.094033
[76]	valid_0's rmse: 0.146393	valid_0's binary_logloss: 0.094263
[77]	valid_0's rmse: 0.146403	valid_0's binary_logloss: 0.0943519
[78]	valid_0's rmse: 0.146302	valid_0's binary_logloss: 0.09443
[79]	valid_0's rmse: 0.14653	valid_0's binary_logloss: 0.0945925
[80]	valid_0's rmse: 0.146506	valid_0's binary_logloss: 0.0946235
[81]	valid_0's rmse: 0.146421	valid_0's binary_logloss: 0.0944937
[82]	valid_0's rmse: 0.146632	valid_0's binary_logloss: 0.0945548
[83]	valid_0's rmse: 0.146525	valid_0's binary_logloss: 0.0945148
[84]	valid_0's rmse: 0.146684	valid_0's binary_logloss: 0.0947613
[85]	valid_0's rmse: 0.146744	valid_0's binary_logloss: 0.0947139
[86]	valid_0's rmse: 0.146985	valid_0's binary_logloss: 0.0950333
[87]	valid_0's rmse: 0.147077	valid_0's binary_logloss: 0.0951255
[88]	valid_0's rmse: 0.14709	valid_0's binary_logloss: 0.0950558
[89]	valid_0's rmse: 0.14722	valid_0's binary_logloss: 0.0954761
[90]	valid_0's rmse: 0.147222	valid_0's binary_logloss: 0.0955922
[91]	valid_0's rmse: 0.147284	valid_0's binary_logloss: 0.0955975
[92]	valid_0's rmse: 0.147315	valid_0's binary_logloss: 0.0956883
[93]	valid_0's rmse: 0.147403	valid_0's binary_logloss: 0.0957473
[94]	valid_0's rmse: 0.147286	valid_0's binary_logloss: 0.0957744
[95]	valid_0's rmse: 0.147294	valid_0's binary_logloss: 0.095728
[96]	valid_0's rmse: 0.14727	valid_0's binary_logloss: 0.0958735
[97]	valid_0's rmse: 0.147203	valid_0's binary_logloss: 0.0957454
[98]	valid_0's rmse: 0.146985	valid_0's binary_logloss: 0.0957366
[99]	valid_0's rmse: 0.146932	valid_0's binary_logloss: 0.095669
[100]	valid_0's rmse: 0.147001	valid_0's binary_logloss: 0.0956465

LGBMClassifier(max_bin=200, max_depth=18, min_sum_hessian_in_leaf=20,
               num_leaves=89, verbose=-1)

In [470]:
y_pred = gbm.predict(x_test, num_iteration=gbm.best_iteration_)

In [471]:
confusion_matrix(y_test, y_pred)

array([[377,   0],
       [  9,   6]], dtype=int64)

In [472]:
f1_score(y_test, y_pred)

0.5714285714285715

In [482]:
x_train

array([[ 4.,  5.,  0., ...,  1.,  2.,  1.],
       [ 5.,  8.,  0., ...,  1.,  1.,  1.],
       [ 8.,  7.,  0., ...,  1.,  2.,  1.],
       ...,
       [10.,  6.,  3., ...,  1.,  2.,  1.],
       [ 9.,  7.,  1., ...,  1.,  3.,  1.],
       [11., 10.,  1., ...,  1.,  0.,  0.]])

In [478]:
from sklearn.tree import DecisionTreeClassifier

In [479]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [480]:
confusion_matrix(y_test, y_pred)

array([[361,  16],
       [  9,   6]], dtype=int64)

In [481]:
f1_score(y_test, y_pred)

0.3243243243243243

In [473]:
gbm.fit(x,y)

[LightGBM] [Warning] min_sum_hessian_in_leaf is set=20, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=20

LGBMClassifier(max_bin=200, max_depth=18, min_sum_hessian_in_leaf=20,
               num_leaves=89, verbose=-1)

In [474]:
pred = gbm.predict(test)

In [475]:
pred

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [476]:
submit['buy'] = pred
submit.to_csv("new.csv", index = False)
submit.head()

      id  buy
0  39162    1
1  39163    0
2  39164    0
3  39165    1
4  39166    0

In [477]:
[]

[]